/* style */

 i.fa {
  vertical-align: 4%;
}

p {
  color: #444;
}
  
h1 {
  color: #3366cc !important;
  font-size: 34px !important;
}
  
hr {
  border-color: #3366cc !important;
}



/* footer */

footer {
  padding-top: 1.5em;
  border-top: 1px solid #dfdfdf;
  padding-bottom: 1em;
  background: #f2f2f2;
}

footer p {
  font-size: 90%;
}